@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #38bdf8, #6d28d9, #4c1d95);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--linear-gradient);
    color: #d1d5db;
}

#calculator {
    background-color: #262626;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.323);
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 500px;
}

#calculator h2 {
    font-size: 30px;
    position: relative;
    margin-bottom: 10px;
}

#calculator h2::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: -5px;
}

#mode-selector {
    display: flex;
    gap: 10px;
}

.mode-button {
    flex-grow: 1;
    background: #404040;
    border: 1px solid #525252;
    color: #d1d5db;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.mode-button:hover {
    background: #525252;
}

.mode-button.active {
    background: var(--linear-gradient);
    color: #fff;
    border: none;
    padding: 11px 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#input-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label {
    font-size: 15px;
    color: #c8cedc;
    font-weight: 500;
}

.input-field input,
.input-field select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4c1d95;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.input-field select option {
    background-color: #262626;
    color: #fff;
}

.input-field input:focus,
.input-field select:focus {
    outline: none;
}

#result {
    text-align: center;
}

#result h4 {
    font-size: 20px;
    color: #c8cedc;
    border-bottom: 1px solid #4c1d95;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#report-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

#report-content p {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#report-content p span:last-child {
    font-weight: 600;
}

.text-danger {
    color: #f87171; /* Vermelho */
}

.text-success {
    color: #4ade80; /* Verde */
}

.text-info {
    color: #60a5fa; /* Azul */
}

.text-total {
    font-size: 1.2rem;
    font-weight: bold;
    border-top: 1px solid #525252;
    padding-top: 10px !important;
}

.calculate-btn {
    background: var(--linear-gradient);
    border: none;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.calculate-btn:hover {
    opacity: 0.9;
    /* transform: translateY(-2px);  */
}